body{
    background-size: cover;
}
.heading{
    width: 100%;
    text-align: left;
}
.heading h1{
    display: inline;
    font-size: 27px;
}
.heading button{
    float: right;
    border: 1px solid white;
}
canvas{
    margin-bottom: 10px;
}
.button{
    box-shadow: 5px 5px 5px black;
}
h4{
    background-color: #F5F5F5;
    line-height: 2;
    margin: 0px;
}
.modal-dialog{
    width: 60%;
}
.modal-body{
    text-align: left;
    font-size: 30px;
}
.modal-title{
    font-size: 50px;
}
canvas{
    border: 5px solid black;
    border-radius: 20px;
    animation-name: animation;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes animation{
    from{box-shadow: 1px 1px 38px black;}
    to{box-shadow: 1px 1px 38px gray;}
}