body{
    background-size: cover;
}
.heading{
    width: 100%;
    text-align: left;
}
.heading h1{
    display: inline;
    font-size: 27px;
}
.heading button{
    float: right;
    border: 1px solid white;
}
canvas{
    margin-bottom: 10px;
}
.button{
    box-shadow: 5px 5px 5px black;
}
h4{
    background-color: #F5F5F5;
    line-height: 2;
    margin: 0px;
}
.modal-dialog{
    width: 60%;
}
.modal-body{
    text-align: left;
    font-size: 30px;
}
.modal-title{
    font-size: 50px;
}